header, main{
    animation: animate__zoomIn 4s;
}
@keyframes animate__zoomIn
{
  0%{
  transform: scale(0.1,0.1)
}
  50% {       
  transform: scale(1.1, 1.1);
  
}
  100% {
  transform: scale(1.0, 1.0);
}
}
#imagem1{
  animation: animate__backInRight 2s;
}
@keyframes animate__backInRight {
  0%{
    position: relative;
    display: inline-block;
    height: 80px;
}
  50%{
    max-width: 50%;
    display: inline-block;
    height: 250px;
    
}
  100%{
    max-width: 80%;
    display: flex;
    float: right;
}
}